# Data Type

## String

In [5]:
print('Hacktivate')
print(type('Hacktivate'))

Hacktivate
<class 'str'>

## Integer

In [4]:
print(100)
print(type(100))

100
<class 'int'>

## Floating-Point Numbers

In [19]:
print(4.2)
print(type(4.2))

print(4.)
print(.2)
print(.4e8)
print(4.2e-7)
print(type(4.2e-7))

4.2
<class 'float'>
4.0
0.2
40000000.0
4.2e-07
<class 'float'>

## Boolean

In [22]:
True
False

print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

4 Types yang paling sering digunakan
- String
- Integer
- String
- Boolean

# Variable Assignment

In [26]:
n  = .091
a = b = c = 'Hacktiv8'

In [27]:
print(n)
type(n)
print(a,b,c)

0.091
Hacktiv8 Hacktiv8 Hacktiv8

In [30]:
var = 1000
print (var)

var = "Now string"
print(var)

1000
Now string

## Variable Names

In [32]:
nama = "Hacktiv"
umur = 52
sudah_menikah = True
print(nama, umur, sudah_menikah)

Hacktiv 52 True

# Arithmetic Operators

In [38]:
a = 10
b = 5

print('Hasil penambahan adalah = ', a + b)
print('Hasil pengurangan adalah = ', a - b)
print('Hasil perkalian adalah = ', a * b)
print('Hasil pembagian adalah = ', a / b)
print('Hasil modulus adalah = ', a % b)
print('Hasil adalah = ', a ** b)

Hasil penambahan adalah =  15
Hasil pengurangan adalah =  5
Hasil perkalian adalah =  50
Hasil pembagian adalah =  2.0
Hasil modulus adalah =  0
Hasil adalah =  100000

Quiz 1 ubah 30 derajat celcius ke fahrenheit

In [43]:
c = 30
f = (9/5)*c + 32
print('Hasil dari 30 celcius ke farenheit adalah', f)

Hasil dari 30 celcius ke farenheit adalah 86.0

# Comparison Operators

In [47]:
a=1
b=2
c=3
d=4
rumah1='Jakarta'
rumah2='Lampung'
rumah3='Lampung'

In [51]:
print(rumah1==rumah2)
print(rumah2==rumah3)
print(c>d)
print(c<d)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [52]:
# Tidak sama dengan (!=)
print(b!=a)
print(rumah2!=rumah3)

True
False

# String Manipulation

In [1]:
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)

foobar
foobarbaz

In [2]:
# operator '*'

s*5

'foofoofoofoofoo'

In [4]:
# in operators
s = 'foo'
print(s in 'Warm food is good')
print(s in 'Warm hood is good')

True
False

In [13]:
# Case Conversion
s = 'HaCKTiVaTE'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# upper 
print(s.upper())

# Swapcase
print(s.swapcase())

#Title
print(s.title())

Hacktivate
hacktivate
HACKTIVATE
hAcktIvAte
Hacktivate

# Python Lists

In [11]:
a = ['saya', 'adalah', 'warga', 'indonesia']
c = ['Warga', 'indonesia', 'adalah', 'saya']
print(a)
print(type(a))

['saya', 'adalah', 'warga', 'indonesia']
<class 'list'>

Karakteristik dari List Pyhton adalah :

- List are ordered
- List dapat berisi objek sembarang
- Elemen list dapat diakses dengan indeks
- List dapat disarangkan hingga kedalaman yang tidak terbatas
- List dapat berubah-ubah (mutable
- List bersifat dinamis

In [9]:
b = ['saya', 1520, False]
b

['saya', 1520, False]

In [12]:
print(a==c)

False

## Indexing and Slicing

In [14]:
# List can be accessed by index

a = ['foo','bar','baz','qux','quux','corge']
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [20]:
print(a[3])
print(a[5])
print(a[-2])
a[-6]==a[0]

qux
corge
quux

True

# Prinsip Slicing = [start:stop:step]

In [27]:
# Slicing
a = ['foo','bar','baz','qux','quux','corge']
print(a[0:4:2])
print(a[:2])
print(a[2:])

['foo', 'baz']
['foo', 'bar']
['baz', 'qux', 'quux', 'corge']

In [33]:
x = 'Jatinegara'
print(x[3:5])
print(x[::-1])

in
aragenitaJ

In [34]:
a = 'komitmen'

Quiz 2

Use Indexing or slicing to get :
1. i
2. omi
3. tmen
4. kmte
5. kmtn

In [43]:
print(a[3:4])
print(a[1:4])
print(a[4:])
print(a[0:7:2])
print(a[0:5:2]+ a[a.index('n')])

i
omi
tmen
kmte
kmtn

# Modifying a Single List Value

In [50]:
# Nilai dalam list dapat diganti dengan pengindeksan dan assignment sederhana
a = ['foo','bar','baz','qux','quux','corge']
print(a)
a[2] = 10
a[-3] = 'oke'
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'oke', 'quux', 'corge']

In [52]:
# Nilai dalam list dapat dihapus dengan perintah del
del(a[0])
print(a)

['bar', 10, 'oke', 'quux', 'corge']

In [54]:
# Mengubah nilai dalam list dengan sekaligus
a = ['foo','bar','baz','qux','quux','corge']
print(a)
a[1:5] = [1, 2, 3, 4, 5, 6]
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 1, 2, 3, 4, 5, 6, 'corge']

# Tuple

In [55]:
b = ('foo','bar','baz','qux','quux','corge')
print(type(b))

<class 'tuple'>

Karakteristik dalam Tuple identik dengan List, kecuali :

1. Tuple tidak dapat diubah (immutable)
2. Tuple mengapit elemen dalam tanda kurung (()) daripada tanda kurung siku ([])

In [59]:
# Packing and unpacking
(a1,a2,a3,a4) = ('foo','bar','baz','qux')
a2

'bar'

# Dictionary

In [2]:
Dict = {'Lampung':'Bandar Lampung', 'Jakarta':'Jakarta','Jawa Barat':'Bandung','Jawa Timur':'Surabaya'}
print(Dict)
print(Dict['Lampung'])

{'Lampung': 'Bandar Lampung', 'Jakarta': 'Jakarta', 'Jawa Barat': 'Bandung', 'Jawa Timur': 'Surabaya'}
Bandar Lampung

In [4]:
# Menambahkan dictionary baru
Dict['Sumatera Selatan'] = 'Palembang'
print(Dict)

{'Lampung': 'Bandar Lampung', 'Jakarta': 'Jakarta', 'Jawa Barat': 'Bandung', 'Jawa Timur': 'Surabaya', 'Sumatera Selatan': 'Palembang'}

In [6]:
# Update daerah
Dict['Lampung'] = 'Metro'
print(Dict)

{'Lampung': 'Metro', 'Jakarta': 'Jakarta', 'Jawa Barat': 'Bandung', 'Jawa Timur': 'Surabaya', 'Sumatera Selatan': 'Palembang'}

In [7]:
# Del Command 
del Dict['Lampung']
print(Dict)

{'Jakarta': 'Jakarta', 'Jawa Barat': 'Bandung', 'Jawa Timur': 'Surabaya', 'Sumatera Selatan': 'Palembang'}

In [10]:
aku = {}
print(type(aku))

<class 'dict'>

# Line Continuation

In [11]:
print(True and True) #True
print(True and False) #False
print(False and False) #False
print(True or True) #True
print(True or False) #True
print(False or False) #False

True
False
False
True
True
False

In [12]:
umur1 = 32
umur2 = 10
umur3 = 13

print(umur1>= 18 and umur1<=65)
print(umur2>= 18 and umur2<=65)
print(umur3>= 18 and umur3<=65)

True
False
False

# Materi Tambahan

In [14]:
mobil = ['Toyota', 'Kijang']
mobil = mobil + ['Isuzu']
print(mobil)

['Toyota', 'Kijang', 'Isuzu']

In [15]:
mobil = ['Toyota','Kijang']
mobil.append('Isuzu') #append untuk menambahkan nilai dalam list diurutan trakhir
print(mobil)

['Toyota', 'Kijang', 'Isuzu']

In [25]:
kendaraan = mobil.copy() #copy untuk menduplikat suatu nilai variabel
print(kendaraan)

['Toyota', 'Kijang', 'Isuzu']

In [26]:
kendaraan.append('Suzuki')

print(kendaraan)
print(mobil)

['Toyota', 'Kijang', 'Isuzu', 'Suzuki']
['Toyota', 'Kijang', 'Isuzu']

In [27]:
kendaraan.remove('Suzuki')

In [28]:
print(kendaraan)

['Toyota', 'Kijang', 'Isuzu']

In [29]:
mobil = ['Toyota', 'Kijang','Suzuki']
mobil.pop(0)
print(mobil)

['Kijang', 'Suzuki']